.cart{
  border-radius: 30px;
  box-shadow: 10px 12.61px 42.25px -7.57px rgba(0, 0, 0, 0.13);
  background: rgb(255, 255, 255);
  width: 378px;
height: 100%;
  transition: transform 0.3s ease;

  &:hover{
    transform: scale(1.1);
  }

  &__image{
    width: 378px;
    height: 314px;
    border-radius: 30px;
  }
  &__text{
    color: rgb(32, 32, 39);
    font-size: 16px;
    font-weight: 500;
    line-height: 110%;
    text-align: left;
    border-radius: 52.58px;
    background: rgb(247, 247, 247);
    padding: 8px 16px 10px 16px;
  }
  &__title{
    color: rgb(32, 32, 39);
    font-size: 32px;
    font-weight: 700;
    line-height: 39px;
    text-align: left;
    margin-top: 16px;
  }
  &__content{
    padding: 32px 32px 36px 32px;
  }
}