.cart{
  border-radius: 30px;
  box-shadow: 0px 12.61px 42.25px -7.57px rgba(0, 0, 0, 0.13);
  background: rgb(255, 255, 255);
  width: 378px;
  height: 473px;
  &__image{
    width: 378px;
    height: 314px;
  }
}