.content{
  background: url("./image/gameBlock.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 1470px;
  width: 1440px;
  &__form{
    padding-left: 119px;
    padding-top: 94px;
  }
  &__title{
    color: rgb(255, 255, 255);
    font-size: 64px;
    font-weight: 700;
    line-height: 78px;
    text-align: left;
  }
  &__text{
    color: rgb(255, 255, 255);
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    text-align: left;
    width: 788px;
    align-items: center;
    margin-top: 24px;
  }
  &__cart{
    display: flex;
    flex-wrap: wrap;
    column-gap: 32px;
    row-gap: 32px;
    margin-top: 72px;
  }
  &__position{
    display: flex;
    flex-direction: column;
    gap: 32px;
  }
}