.header{
  background: url("./image/header-index.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 1440px;
  height: 800px;
  &__title {
    color: rgb(32, 32, 39);
    font-size: 64px;
    font-weight: 700;
    line-height: 78px;
    text-align: left;
  }
  &__text{
    color: rgb(32, 32, 32);
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    text-align: left;
    margin-top: 24px;
    width: 768px;
    }
  &__button{
      box-sizing: border-box;
      border: 1px solid rgb(32, 32, 39);
      border-radius: 60px;
      background: rgb(32, 32, 39);
      color: rgb(255, 255, 255);
      font-size: 24px;
      font-weight: 600;
      line-height: 141.69%;
      text-align: center;
      padding: 16px 28px;
      height: 66px;
      width: 247px;
      align-items: center;
      margin-top: 48px;

      &:hover{
        background: rgb(255,255,255);
        color: rgb(32, 32, 39);
      }
    }
  &__content{
    height: 244px;
    padding-left: 124px;
    padding-top: 196px;
  }
  &__scroll{
    width: 100%;
    overflow: hidden;
    position: relative;
    height: 200px;
    white-space: nowrap;
    top: 34%;

    &-image{
      display: inline-block;
      animation: moveLeft 15s linear infinite;
    }
  }
  @keyframes moveLeft {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }
}
