.header {
  background: url("./image/header-index.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 1440px;
  height: 800px;
}
.header__title {
  color: rgb(32, 32, 39);
  font-size: 64px;
  font-weight: 700;
  line-height: 78px;
  text-align: left;
}
.header__text {
  color: rgb(32, 32, 32);
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
  margin-top: 24px;
  width: 768px;
}
.header__button {
  box-sizing: border-box;
  border: 1px solid rgb(32, 32, 39);
  border-radius: 60px;
  background: rgb(32, 32, 39);
  color: rgb(255, 255, 255);
  font-size: 24px;
  font-weight: 600;
  line-height: 141.69%;
  text-align: center;
  padding: 16px 28px;
  height: 66px;
  width: 247px;
  align-items: center;
  margin-top: 48px;
}
.header__button:hover {
  background: rgb(255, 255, 255);
  color: rgb(32, 32, 39);
}
.header__content {
  height: 244px;
  padding-left: 124px;
  padding-top: 196px;
}
.header__scroll {
  width: 100%;
  overflow: hidden;
  position: relative;
  height: 200px;
  white-space: nowrap;
  top: 34%;
}
.header__scroll-image {
  display: inline-block;
  animation: moveLeft 15s linear infinite;
}
@keyframes moveLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.content {
  background: url("/image/back-product.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 1440px;
}
.content__form {
  padding-left: 119px;
  padding-top: 94px;
}
.content__title {
  color: rgb(255, 255, 255);
  font-size: 64px;
  font-weight: 700;
  line-height: 78px;
  text-align: left;
}
.content__text {
  color: rgb(255, 255, 255);
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
  width: 788px;
  align-items: center;
  margin-top: 24px;
}
.content__cart {
  display: flex;
  flex-wrap: wrap;
  margin-top: 72px;
  gap: 32px;
}
.content__position {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.cart {
  border-radius: 30px;
  box-shadow: 10px 12.61px 42.25px -7.57px rgba(0, 0, 0, 0.13);
  background: rgb(255, 255, 255);
  width: 378px;
  transition: transform 0.3s ease;
}
.cart:hover {
  transform: scale(1.1);
}
.cart__image {
  width: 378px;
  height: 314px;
  border-radius: 30px;
}
.cart__text {
  color: rgb(32, 32, 39);
  font-size: 16px;
  font-weight: 500;
  line-height: 110%;
  text-align: left;
  border-radius: 53px;
  background: rgb(247, 247, 247);
  padding: 8px 16px 10px 16px;
}
.cart__title {
  color: rgb(32, 32, 39);
  font-size: 32px;
  font-weight: 700;
  line-height: 39px;
  text-align: left;
  margin-top: 16px;
}
.cart__content {
  padding: 32px 32px 36px 32px;
}
.cart-1 {
  height: 473px;
}
.cart-2 {
  height: 512px;
}
.cart-3 {
  height: 473px;
}
.cart-4 {
  height: 551px;
}
.cart-5 {
  height: 512px;
}
.cart-6 {
  height: px;
}

.product {
  background: url(./image/back-product.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 1440px;
}
.product__form {
  padding-left: 119px;
  padding-top: 94px;
  gap: 32px;
  display: flex;
  flex-direction: column;
}
.product__title {
  color: rgb(255, 255, 255);
  font-family: Montserrat;
  font-size: 64px;
  font-weight: 700;
  line-height: 78px;
  letter-spacing: 0px;
  text-align: left;
}
.product__description {
  border-radius: 30px;
  box-shadow: 0px 20px 67px -12px rgba(0, 0, 0, 0.13);
  background: rgb(255, 255, 255);
  width: 1200px;
  height: 500px;
  display: flex;
  flex-direction: row;
}
.product__image {
  border-radius: 30px;
}
.product__name {
  color: rgb(32, 32, 39);
  font-size: 48px;
  font-weight: 700;
  line-height: 59px;
  text-align: left;
}
.product__text {
  color: rgb(32, 32, 39);
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
  width: 457px;
}
.product__button {
  background: rgb(32, 32, 39);
  border-radius: 60px;
  color: rgb(255, 255, 255);
  width: 247px;
  height: 66px;
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 600;
  line-height: 141.69%;
  letter-spacing: 0%;
  text-align: center;
  padding: 16px 28px 16px 28px;
}
.product__button:hover {
  background: rgb(255, 255, 255);
  color: rgb(32, 32, 32);
}

.revers {
  border-radius: 30px;
  box-shadow: 0px 20px 67px -12px rgba(0, 0, 0, 0.13);
  background: rgb(255, 255, 255);
  width: 1200px;
  height: 500px;
  display: flex;
  flex-direction: row-reverse;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
}

html {
  scroll-behavior: smooth;
}

.center {
  padding-left: 124px;
}/*# sourceMappingURL=style.css.map */