@import 'header','footer','content','cart','product';

*{
  margin: 0;
  padding: 0;
}
body{
  font-family: "Montserrat", sans-serif;
}
html {
  scroll-behavior: smooth;
}
.center{
  padding-left: 124px;
}
